absl-py==1.1.0
accelerate==0.29.2
aiofiles==23.1.0
aiohttp==3.8.4
aiosignal==1.3.1
altair==4.2.2
annotated-types==0.7.0
anyio==3.6.2
appdirs==1.4.4
asttokens==2.2.1
async-timeout==4.0.2
attrs==22.2.0
backcall @ file:///home/conda/feedstock_root/build_artifacts/backcall_1592338393461/work
backports.functools-lru-cache==1.6.5
bitsandbytes==0.43.1
black==24.4.0
cachetools==5.5.0
certifi==2023.7.22
charset-normalizer==3.1.0
click==8.1.3
cmake==3.26.1
comm==0.1.3
contourpy==1.0.7
cornac==1.10.0
cycler==0.11.0
datasets==2.18.0
debugpy==1.6.6
decorator @ file:///home/conda/feedstock_root/build_artifacts/decorator_1641555617451/work
dill==0.3.5.1
docker-pycreds==0.4.0
easydict==1.13
einops==0.8.0
entrypoints==0.4
executing==1.2.0
fastapi==0.115.6
ffmpy==0.3.0
filelock==3.10.7
fonttools==4.39.3
frozenlist==1.3.3
fsspec==2024.2.0
gitdb==4.0.10
GitPython==3.1.31
google-auth==2.34.0
google-auth-oauthlib==0.4.6
gradio==4.26.0
gradio_client==0.15.1
grpcio==1.66.0
h11==0.14.0
httpx==0.28.1
huggingface-hub==0.24.6
idna==3.4
importlib-metadata==6.8.0
importlib-resources==6.0.1
inflate64==1.0.0
ipykernel==6.22.0
ipython==8.11.0
jedi==0.18.2
Jinja2==3.1.2
joblib==1.2.0
jsonschema==4.17.3
jupyter_client==8.1.0
jupyter_core==5.3.0
kiwisolver==1.4.4
lightning-utilities==0.11.2
linkify-it-py==2.0.0
lit==16.0.0
Markdown==3.7
markdown-it-py==2.2.0
MarkupSafe==2.1.2
matplotlib==3.7.1
matplotlib-inline==0.1.6
mdit-py-plugins==0.3.3
mdurl==0.1.2
mpmath==1.3.0
multidict==6.0.4
multiprocess==0.70.13
multivolumefile==0.2.3
mypy-extensions==1.0.0
nest-asyncio==1.5.6
networkx==3.0
nltk==3.9.1
numpy==1.24.4
orjson==3.8.9
packaging==23.0
pandas==1.5.3
parso @ file:///home/conda/feedstock_root/build_artifacts/parso_1712320355065/work
pathspec==0.11.1
pathtools==0.1.2
pexpect==4.8.0
pickleshare @ file:///home/conda/feedstock_root/build_artifacts/pickleshare_1602536217715/work
Pillow==9.4.0
pkgutil_resolve_name==1.3.10
platformdirs==3.10.0
powerlaw==1.5
prompt-toolkit==3.0.38
psutil==5.9.4
ptyprocess==0.7.0
pure_eval @ file:///home/conda/feedstock_root/build_artifacts/pure_eval_1721585709575/work
py7zr==0.22.0
pybcj==1.0.2
pycryptodomex==3.21.0
pydantic==2.10.4
pydub==0.25.1
Pygments==2.14.0
pyparsing==3.1.4
pyppmd==1.1.0
pyrsistent==0.19.3
python-dateutil==2.8.2
pytorch-lightning==1.8.6
pytz==2023.3
PyYAML==6.0.1
pyzmq==25.0.2
pyzstd==0.16.2
regex==2023.3.23
requests==2.28.2
requests-oauthlib==2.0.0
responses==0.18.0
rfc3986==1.5.0
rich==13.9.4
rouge-score==0.1.2
safetensors==0.4.4
scikit-learn==1.2.2
scipy==1.10.1
seaborn==0.12.2
semantic-version==2.10.0
sentencepiece==0.2.0
sentry-sdk==1.19.1
setproctitle==1.3.2
six==1.16.0
smmap==5.0.0
sniffio==1.3.0
stack-data==0.6.2
starlette==0.41.3
sympy==1.11.1
tensorboard==2.11.2
tensorboard-data-server==0.6.1
tensorboardX==2.6
termcolor==2.2.0
threadpoolctl==3.5.0
tiktoken==0.7.0
tokenize-rt==5.0.0
tokenizer==3.4.3
tokenizers==0.19.1
toolz==0.12.0
torch==2.0.0+cu118
torch-cluster==1.6.3+pt20cu118
torch-scatter==2.1.2+pt20cu118
torch-sparse==0.6.18+pt20cu118
torch-spline-conv==1.2.2+pt20cu118
torch_geometric==2.5.3
torchaudio==2.0.1+cu118
torchmetrics==1.4.0.post0
torchvision==0.15.1+cu118
tornado @ file:///home/conda/feedstock_root/build_artifacts/tornado_1717722826518/work
tqdm==4.65.0
traitlets==5.9.0
transformers==4.40.0
transformers-stream-generator==0.0.4
triton==2.0.0
typer==0.15.1
typing_extensions==4.12.2
tzdata==2023.3
uc-micro-py==1.0.1
urllib3==2.2.3
uvicorn==0.21.1
wandb==0.14.1
wcwidth==0.2.6
websockets==10.4
Werkzeug==3.0.4
xxhash==3.2.0
yarl==1.8.2
zipp==3.16.2
